font-beautify()
	letter-spacing 4px
	color #333
	text-shadow rgb(69, 45, 45) 0px 0px 1px, rgb(255, 255, 251) 0px 0px 1px, rgb(255, 255, 251) 0px 0px 2px
	font-weight 300
	text-decoration none
	transition all 0.5s
	font-family "Questrial", sans-serif
	padding-bottom 10px
