font-custom = "Questrial", sans-serif
font-content = "Questrial", sans-serif

// color
lightPrimaryColor = #c5cae9
textPrimaryColor = #fff
accentColor = rgb(99, 137, 185)
primaryTextColor = #646464
secondaryTextColor = #000
titleColor = #333
titleHoverColor = #fff

bg-header = linear-gradient(-90deg, #77acdc 0%, #7af 100%)
bg-content-header = linear-gradient(0deg, #f5f1f1 0%, #7af 100%)
bg-main = linear-gradient(180deg, #f5f1f1 30%, rgb(239, 241, 243) 45%, rgb(247, 244, 238) 71%, #efefef 91%)
bg-brand = linear-gradient(0deg, #f5f1f1 0%, #7af 100%)
bg-post = #f6f6f6

ctext-shadow = rgb(160, 156, 155) 0 0 1px, rgb(255, 255, 251) 0 0 1px, rgb(255, 255, 251) 0 0 2px
